In [1]:
import re
import pandas as pd
import requests
from bs4 import BeautifulSoup


import json
import pymongo
from flask import Flask, jsonify, request
from flask_cors import CORS, cross_origin
from pymongo import MongoClient

# configuration
DEBUG = True

# instantiate the app
app = Flask(__name__)
# app.config.from_object(__name__)
app.config['CORS_HEADERS'] = 'Content-Type'
# enable CORS
CORS(app, resources={r'/*': {'origins': '*'}})

# app = Flask(__name__)
# cors = CORS(app)
# app.config['CORS_HEADERS'] = 'Content-Type'

cluster = MongoClient('mongodb+srv://jihwan:1234@intelportfolio.kqupw.gcp.mongodb.net/test?retryWrites=true&w=majority')
db = cluster['test']

## BACKEND and ML

# DJI
collection_DJI = db['DJI'].find({})

In [2]:
df_DJI = pd.DataFrame(list(collection_DJI))
del df_DJI['_id']

df_DJI.info()
df_DJI.set_index(['Date'],inplace=True)
df_DJI.sort_values(by=['Date'],ascending=False,inplace=True)
drop_cols = ['Open', 'High','Low', 'Adj Close', 'Volume']

# Remove columns without relative significance.
df_DJI = df_DJI.drop(drop_cols,axis=1)
df_DJI.head()


df_DJI.index = pd.to_datetime(df_DJI.index)

df_DJI = df_DJI.resample('D').asfreq()
df_DJI.sort_values(by=['Date'],ascending=False,inplace=True)
df_DJI.fillna(method='ffill',inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1417 entries, 0 to 1416
Data columns (total 7 columns):
Adj Close    1417 non-null object
Close        1417 non-null object
Date         1417 non-null object
High         1417 non-null object
Low          1417 non-null object
Open         1417 non-null object
Volume       1417 non-null object
dtypes: object(7)
memory usage: 77.6+ KB

In [3]:
df_DJI.head()

                   Close
Date
2020-08-18  27778.070313
2020-08-17  27844.910156
2020-08-16  27844.910156
2020-08-15  27844.910156
2020-08-14  27931.019531

In [4]:
from DJI import get_DJI

In [ ]:
get_DJI()