In [1]:
import re
import pandas as pd
import requests
from bs4 import BeautifulSoup


import json
import pymongo
from flask import Flask, jsonify, request
from flask_cors import CORS, cross_origin
from pymongo import MongoClient

# configuration
DEBUG = True

# instantiate the app
app = Flask(__name__)
# app.config.from_object(__name__)
app.config['CORS_HEADERS'] = 'Content-Type'
# enable CORS
CORS(app, resources={r'/*': {'origins': '*'}})

# app = Flask(__name__)
# cors = CORS(app)
# app.config['CORS_HEADERS'] = 'Content-Type'

cluster = MongoClient('mongodb+srv://jihwan:1234@intelportfolio.kqupw.gcp.mongodb.net/test?retryWrites=true&w=majority')
db = cluster['test']

## BACKEND and ML

# DJI
collection_DJI = db['DJI'].find({})

In [2]:
df_DJI = pd.DataFrame(list(collection_DJI))
del df_DJI['_id']

df_DJI.info()
df_DJI.set_index(['Date'],inplace=True)
df_DJI.sort_values(by=['Date'],ascending=False,inplace=True)
drop_cols = ['Open', 'High','Low', 'Adj Close', 'Volume']

# Remove columns without relative significance.
df_DJI = df_DJI.drop(drop_cols,axis=1)
df_DJI.head()


df_DJI.index = pd.to_datetime(df_DJI.index)

df_DJI = df_DJI.resample('D').asfreq()
df_DJI.sort_values(by=['Date'],ascending=False,inplace=True)
df_DJI.fillna(method='ffill',inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1417 entries, 0 to 1416
Data columns (total 7 columns):
Adj Close    1417 non-null object
Close        1417 non-null object
Date         1417 non-null object
High         1417 non-null object
Low          1417 non-null object
Open         1417 non-null object
Volume       1417 non-null object
dtypes: object(7)
memory usage: 77.6+ KB

In [3]:
df_DJI.head()

                   Close
Date
2020-08-18  27778.070313
2020-08-17  27844.910156
2020-08-16  27844.910156
2020-08-15  27844.910156
2020-08-14  27931.019531

In [5]:
get_DJI()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1417 entries, 0 to 1416
Data columns (total 7 columns):
Adj Close    1417 non-null object
Close        1417 non-null object
Date         1417 non-null object
High         1417 non-null object
Low          1417 non-null object
Open         1417 non-null object
Volume       1417 non-null object
dtypes: object(7)
memory usage: 77.6+ KB

                   Close
Date
2020-08-18  27778.070313
2020-08-17  27844.910156
2020-08-16  27844.910156
2020-08-15  27844.910156
2020-08-14  27931.019531
2020-08-13  27896.720703
2020-08-12  27976.839844
2020-08-11  27686.910156
2020-08-10  27791.439453
2020-08-09  27791.439453
2020-08-08  27791.439453
2020-08-07  27433.480469
2020-08-06  27386.980469
2020-08-05  27201.519531
2020-08-04  26828.470703
2020-08-03  26664.400391
2020-08-02  26664.400391
2020-08-01  26664.400391
2020-07-31  26428.320313
2020-07-30  26313.650391
2020-07-29  26539.570313
2020-07-28  26379.279297
2020-07-27  26584.769531
2020-07-26  26584.769531
2020-07-25  26584.769531
2020-07-24  26469.890625
2020-07-23  26652.330078
2020-07-22  27005.839844
2020-07-21  26840.400391
2020-07-20  26680.869141
...                  ...
2015-01-31  17361.039063
2015-01-30  17164.949219
2015-01-29  17416.849609
2015-01-28  17191.369141
2015-01-27  17387.210938
2015-01-26  17678.699219
2015-01-25  17678.699219
2015-01-24  17678.699219
2015-01-23  17672.599609
2015-01-22  17813.980469
2015-01-21  17554.279297
2015-01-20  17515.230469
2015-01-19  17515.230469
2015-01-18  17515.230469
2015-01-17  17515.230469
2015-01-16  17511.570313
2015-01-15  17320.710938
2015-01-14  17427.089844
2015-01-13  17613.679688
2015-01-12  17640.839844
2015-01-11  17640.839844
2015-01-10  17640.839844
2015-01-09  17737.369141
2015-01-08  17907.869141
2015-01-07  17584.519531
2015-01-06  17371.640625
2015-01-05  17501.650391
2015-01-04  17501.650391
2015-01-03  17501.650391
2015-01-02  17832.990234

[2056 rows x 1 columns]

In [1]:
from KR_IR import get_IR

In [3]:
df_IR = get_IR()

In [4]:
df_IR.head()

             IR
Date
2020-08-19  0.5
2020-08-18  0.5
2020-08-17  0.5
2020-08-16  0.5
2020-08-15  0.5

In [1]:
from WTI import get_WTI

In [2]:
df_WTI = get_WTI()
df_WTI.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306 entries, 0 to 1305
Data columns (total 2 columns):
Date       1306 non-null object
USD_Bar    1306 non-null object
dtypes: object(2)
memory usage: 20.5+ KB

           USD_Bar
Date
2020-08-10   41.94
2020-08-09   41.16
2020-08-08   41.16
2020-08-07   41.16
2020-08-06   41.93

In [3]:
from XR import get_XR

In [4]:
df_XR = get_XR()
df_XR.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 6 columns):
고가      1470 non-null object
날짜      1470 non-null object
변동 %    1470 non-null object
오픈      1470 non-null object
저가      1470 non-null object
종가      1470 non-null object
dtypes: object(6)
memory usage: 69.0+ KB

               XR Pct_Change
Date
2020-08-19   0.04    1183.21
2020-08-18  -0.04    1182.70
2020-08-17  -0.32    1183.19
2020-08-16   0.17    1186.94
2020-08-15   0.17    1186.94

In [1]:
# To add a new cell, type '# %%'
# To add a new markdown cell, type '# %% [markdown]'

## Data collection - Scraping stock data


# This cell sets up the code to scrape the stock data from Naver Finance for SK Innovation(096770). The reason that SK Innovation was chosen was because I made over 50% of my initial amount by trading this stock over a short period, and I wanted to apply my ad-hoc logic to a systematic and reproducible method, hence this project.

import re
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Change the stock ticker to collect different stock data
stock_id = '096770'

def get_stocks(stock_id,max_limit):
    cate = []
    stocks = [] 

    count = 1

    while count < max_limit:
        base_url = 'https://finance.naver.com/item/frgn.nhn?code='+str(stock_id)+'&page='+str(count)
        res = requests.get(base_url)
        html = BeautifulSoup(res.content,'html.parser')
        # Multiple tables of same name and class. Therefore use findAll and select the wanted table.
        table_all = html.findAll('table',{'class':'type2'})
        table_0 = table_all[1]
        cate_0 = table_0.find_all('th')
        main_0 = table_0.find_all('span')
        # span_0 = main_0.find('span')

        # For first iteration (count==1) append the headers to cate.
        if count == 1:
            for i in range(len(cate_0)):
                if (i == 5 or i== 6):
                    continue
                else:
                    cate.append(cate_0[i].text)

            date = []
            close = []
            change = []
            percentage_change = []
            volume = []
            org_volume = []
            foreign_volume = []
            foreign_count = []
            foreign_percentage = []

        for i in range(len(main_0)):

            if(i%9 == 0):
                date.append(main_0[i].text)
            if(i%9 == 1):
                close.append(main_0[i].text)
            if(i%9 == 2):
                change.append(main_0[i].text)
            if(i%9 == 3):
                percentage_change.append(main_0[i].text)
            if(i%9 == 4):
                volume.append(main_0[i].text)
            if(i%9 == 5):
                org_volume.append(main_0[i].text)
            if(i%9 == 6):
                foreign_volume.append(main_0[i].text)
            if(i%9 == 7):
                foreign_count.append(main_0[i].text)
            if(i%9 == 8):
                foreign_percentage.append(main_0[i].text)
          
        df_data = [date, close, change, percentage_change, volume, org_volume, foreign_volume, foreign_count, foreign_percentage]       
        # print(cate)

        count += 1
    df = pd.DataFrame(columns = cate)
    df_data = ['Date', 'Close', 'Change', 'Pct_Change', 'Volume', 'Org_Volume', 'Foreign_Volume', 'Foreign_Count', 'Foreign_Pct'] 
    df.columns = df_data
    # df['날짜'] = date
    # df['종가'] = close
    # df['전일비'] = change
    # df['등락률'] = percentage_change
    # df['거래량'] = volume
    # df['순매매량'] = org_volume
    # df['순매매량'] = foreign_volume
    # df['보유주수'] = foreign_count
    # df['보유율'] = foreign_percentage
    df['Date'] = date
    df['Close'] = close
    df['Change'] = change
    df['Pct_Change'] = percentage_change
    df['Volume'] = volume
    df['Org_Volume'] = org_volume
    df['Foreign_Volume'] = foreign_volume
    df['Foreign_Count'] = foreign_count
    df['Foreign_Pct'] = foreign_percentage
 
    # df['전일비'] = df['전일비'].map(lambda x: x.lstrip('\n\t').rstrip('\n\t'))
    df['Change'] = df['Change'].map(lambda x: x.lstrip('\n\t').rstrip('\n\t'))
    # df['등락률'] = df['등락률'].map(lambda x: x.lstrip('\n\t').rstrip('\n\t'))
    df['Pct_Change'] = df['Pct_Change'].map(lambda x: x.lstrip('\n\t').rstrip('\n\t'))

    
    return df 


## Data Cleaning

# This cell runs the scraper funciton above and scrape the data, and may take a (few) minute(s).

df = get_stocks(stock_id,71)

# Remove special characters in dataframe
df['Date'] = pd.to_datetime(df['Date'])
df = df.replace('\,','', regex=True)
df = df.replace('\+','', regex=True)
# df = df.replace('\-','', regex=True)
df = df.replace('\%','', regex=True)

# Set index as Date
df.set_index(df['Date'], inplace= True)
df.drop('Date',axis=1,inplace=True)

# df.head()

# Fill missing values such as weekends/holidays
df = df.resample('D').asfreq()
df.sort_values(by=['Date'],ascending=False,inplace=True)
df.fillna(method='ffill',inplace=True)


# stock_file = 'stock_'+ str(stock_id) +'.csv'
# df.to_csv(str(stock_file))


## Tweak the KR_IR file
from KR_IR import get_IR
df_IR = get_IR()

## Clean DJI.csv
from DJI import get_DJI
df_DJI = get_DJI()


## Clean OIL_WTI.csv
from WTI import get_WTI
df_WTI = get_WTI()


## Clean USD_KRW_XR.csv 
from XR import get_XR
df_XR = get_XR()

# create clone of df
df_STK = df

# All cleaned dataframes. But all dataframes have different shapes. Therefore, must unite into a single dataframe and order it by date.
# df_DJI.shape
# df_IR.shape
# df_WTI.shape
# df_XR.shape
# df_STK.shape

# df_STK.tail()
start_date = '2015-08-10'
end_date = '2020-08-10'

df_DJI = df_DJI[(df_DJI.index >= start_date) & (df_DJI.index <= end_date)]
df_IR = df_IR[(df_IR.index >= start_date) & (df_IR.index <= end_date)]
df_WTI = df_WTI[(df_WTI.index >= start_date) & (df_WTI.index <= end_date)]
df_XR = df_XR[(df_XR.index >= start_date) & (df_XR.index <= end_date)]
df_STK = df_STK[(df_STK.index >= start_date) & (df_STK.index <= end_date)]

# print('Shape of DJI: ', df_DJI.shape)
# print('Shape of IR: ', df_IR.shape)
# print('Shape of WTI: ', df_WTI.shape)
# print('Shape of XR: ', df_XR.shape)
# print('Shape of STK: ', df_STK.shape)


# Concat all dataframes into one

df_DJI.columns = ['DJI_Close']
df_XR.columns = ['XR','XR_Pct_Change']
df = pd.concat([df_STK, df_DJI,df_IR,df_WTI,df_XR], axis=1)

# df.head()
# df.tail()

df.to_csv('processed_data.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1417 entries, 0 to 1416
Data columns (total 7 columns):
Adj Close    1417 non-null object
Close        1417 non-null object
Date         1417 non-null object
High         1417 non-null object
Low          1417 non-null object
Open         1417 non-null object
Volume       1417 non-null object
dtypes: object(7)
memory usage: 77.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306 entries, 0 to 1305
Data columns (total 2 columns):
Date       1306 non-null object
USD_Bar    1306 non-null object
dtypes: object(2)
memory usage: 20.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 6 columns):
고가      1470 non-null object
날짜      1470 non-null object
변동 %    1470 non-null object
오픈      1470 non-null object
저가      1470 non-null object
종가      1470 non-null object
dtypes: object(6)
memory usage: 69.0+ KB
Shape of DJI:  (1828, 1)
Shape of IR:  (1828, 1)
Shape of WTI:  (1828, 1)
Shape of XR:  (1828, 2)
Shape of STK:  (1828, 8)